# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# General settings
[*.{js,py,cs,go,java,php,rb,cpp,h,ts,jsx,tsx}] # Apply to all supported file types
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# specific settings
[*.cs]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false