name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      - name: Restore dependencies
        run: dotnet restore src/DeadlyProject.Api/DeadlyProject.Api.csproj
      - name: Build
        run: dotnet build src/DeadlyProject.Api/DeadlyProject.Api.csproj --no-restore
      - name: Test
        run: dotnet test src/DeadlyProject.Tests/DeadlyProject.Tests.csproj --no-build --verbosity normal